/* ================================
   Reset
================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ================================
   Contenedor
================================ */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Anchos máximos por breakpoint */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[class^="col"] {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/* ================================
   GRID DE 12 COLUMNAS
================================ */
.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

/* ================================
   BREAKPOINT: SM (≥576px)
================================ */
@media (min-width: 576px) {
    .col-sm-1 {
        width: 8.333333%;
    }

    .col-sm-2 {
        width: 16.666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.333333%;
    }

    .col-sm-5 {
        width: 41.666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333333%;
    }

    .col-sm-8 {
        width: 66.666667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.333333%;
    }

    .col-sm-11 {
        width: 91.666667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* ================================
   BREAKPOINT: MD (≥768px)
================================ */
@media (min-width: 768px) {
    .col-md-1 {
        width: 8.333333%;
    }

    .col-md-2 {
        width: 16.666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333333%;
    }

    .col-md-5 {
        width: 41.666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333333%;
    }

    .col-md-8 {
        width: 66.666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.333333%;
    }

    .col-md-11 {
        width: 91.666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* ================================
   BREAKPOINT: LG (≥992px)
================================ */
@media (min-width: 992px) {
    .col-lg-1 {
        width: 8.333333%;
    }

    .col-lg-2 {
        width: 16.666667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.333333%;
    }

    .col-lg-5 {
        width: 41.666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.333333%;
    }

    .col-lg-8 {
        width: 66.666667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.333333%;
    }

    .col-lg-11 {
        width: 91.666667%;
    }

    .col-lg-12 {
        width: 100%;
    }
}
